<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "onde/w.pw.zer0"
        version     = "1.2.10" >
   <name>Onde mesmo?</name>
   <description>
       Onde Mesmo? é um aplicativo em que você grava uma localização, para utilizá-la futuramente.
   </description>
   <author href="http://zer0.w.pw/" email="contato@zer0.w.pw">
       ZER0 Soluções Interativas
   </author>
   <gap:plugin name="org.apache.cordova.geolocation" version="0.3.6" />
   <preference name="permissions" value="geolocation"/>
	<gap:platform name="android" />
   <icon src="icon.png" />
   <icon src="icons/android/mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android/hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="icons/android/xxhdpi.png" gap:platform="android" gap:density="xxhdpi" />
   <access origin="*"/>
</widget>